<div class="todo-container">
  <div *ngIf="!todos?.length">
    Your Todo List is Empty!
  </div>

  <ul class="list-group" *ngIf="todos?.length">
    <li class="list-group-item todo-item" *ngFor="let todo of todos">
      <div class="row">
        <div class="col-xs-12 d-flex justify-content-between">
          <ng-container *ngIf="todo.id !== editingTodoId; else editMode">
            <span [class.completed]="todo.status === TodoStatus.Done">{{todo.title}}</span>
          </ng-container>
          <ng-template #editMode>
            <ng-container *ngIf="todo.id === editingTodoId">
              <div [formGroup]="titleForm">
                <input formControlName="title" name="title">
              </div>
            </ng-container>
          </ng-template>
          <span [class.green]="todo.status === TodoStatus.Done">
            status: {{todo.status}}
          </span>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12 d-flex justify-content-between">
          <button
            type="button"
            class="btn btn-success btn-sm"
            (click)="onCompleteTodo(todo.id)"
            [disabled]="todo.status === TodoStatus.Done || editingTodoId"
          >Complete</button>

          <ng-container *ngIf="todo.id !== editingTodoId; else editModeActions">
            <button
              type="button"
              class="btn btn-warning btn-sm"
              (click)="onEditTodo(todo.id)"
              [disabled]="todo.status === TodoStatus.Done"
            >Edit</button>
          </ng-container>
          <ng-template #editModeActions>
            <ng-container *ngIf="todo.id === editingTodoId">
              <div class="col-xs-12 d-flex justify-content-between">
                <button
                  type="button"
                  class="btn btn-warning btn-sm"
                  (click)="onSaveTodo()"
                >Save</button>
              </div>
            </ng-container>
          </ng-template>

          <button
            type="button"
            class="btn btn-danger btn-sm"
            (click)="onDeleteTodo(todo.id)"
            [disabled]="editingTodoId"
          >Delete</button>
        </div>
      </div>
    </li>
  </ul>

  <app-new-todo-form></app-new-todo-form>
</div>
