<app-new-todo-form
  (setIsFetching)="setIsFetching($event)"
  (getTodos)="getTodos()"
></app-new-todo-form>
<div class="columns-container">
  <div
    cdkDropList
    [id]="TodoStatus.Backlog"
    [cdkDropListData]="getFilteredTodos(TodoStatus.Backlog)"
    [cdkDropListConnectedTo]="[TodoStatus.InProgress, TodoStatus.Done]"
    (cdkDropListDropped)="drop($event)"
  >
    <app-todo-column
      [columnName]="TodoStatus.Backlog"
      [todos]="getFilteredTodos(TodoStatus.Backlog)"
      (setTodos)="setTodos($event)"
      (getTodos)="getTodos()"
      [isTodoFetching]="isTodoFetching"
      (setIsFetching)="setIsFetching($event)"
    ></app-todo-column>
  </div>
  <div
    cdkDropList
    [id]="TodoStatus.InProgress"
    [cdkDropListData]="getFilteredTodos(TodoStatus.InProgress)"
    [cdkDropListConnectedTo]="[TodoStatus.Backlog, TodoStatus.Done]"
    (cdkDropListDropped)="drop($event)"
  >
    <app-todo-column
      [columnName]="TodoStatus.InProgress"
      [todos]="getFilteredTodos(TodoStatus.InProgress)"
      (setTodos)="setTodos($event)"
      (getTodos)="getTodos()"
      [isTodoFetching]="isTodoFetching"
      (setIsFetching)="setIsFetching($event)"
    ></app-todo-column>  </div>
  <div
    cdkDropList
    [id]="TodoStatus.Done"
    [cdkDropListData]="getFilteredTodos(TodoStatus.Done)"
    [cdkDropListConnectedTo]="[TodoStatus.Backlog, TodoStatus.InProgress]"
    (cdkDropListDropped)="drop($event)"
  >
    <app-todo-column
      [columnName]="TodoStatus.Done"
      [todos]="getFilteredTodos(TodoStatus.Done)"
      (setTodos)="setTodos($event)"
      (getTodos)="getTodos()"
      [isTodoFetching]="isTodoFetching"
      (setIsFetching)="setIsFetching($event)"
    ></app-todo-column>
  </div>
</div>
